@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* 
    Author: Sandeep p.s;
    Theme: Google Search Engine;
    version: 1.0;
*/ 

/* Css for all */
*{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

/* Css for header */

.header{
    display:flex;
    justify-content: space-between;
}
.left-header .left-header-styling{
    padding: 0 20px;
}
.right-header .right-header-styling{
    padding: 0 20px;
}

/* CSS for sign btn  */
.sign_in-btn-align{
    margin-right: 10px;
}

/* Css for Google-logo */

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.search-box{
    display:flex;
    flex-direction: column;
    margin: -5% auto;
}
/* css for textbox */

input[type=text]{
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #c8d6e5;
    outline: none;
}
.G-search-btn{
    display:flex;
    flex-direction: column;
}
/* Css for google search btn*/

.g-search-left{
    display:block;
    margin: 8%;
    margin-left: 37%;
    margin-right: auto;
    width: 10%;
    padding: 5px;
    cursor: pointer;
    border:none;
    background-color:#f5f6fa;
}
.g-search-left:hover{
    background-color:#f1f2f6;
    border:0.5px solid #ced6e0;
}
/* css for I'm feeling lucky */
.g-search-right{
    display:block;
    margin: -10.4%;
    margin-left: auto;
    margin-right: 35%;
    width: 10%;
    padding: 5px;
    border:none;
    cursor: pointer;
    background-color:#f5f6fa;
}
.g-search-right:hover{
    background-color:#f1f2f6;
    border:0.5px solid #ced6e0;
}
/* Footer */

.footer{
    background-color:#f1f2f6;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    text-align: center;
    display:flex;
    justify-content:space-between;
}
/* css for left footer */
.left-footer .left-footer-styling{
    padding: 0 20px;
}
/* css for right footer */
.right-footer .right-footer-styling{
    padding: 0 20px;
}